version: '3.4'

services:
  mariadb:
    image: mariadb:10.5.9
    env_file:
      - .env
    ports:
      - 3307:3306
    volumes:
      - database:/var/lib/mysql
      
  adminer:
    image: adminer:4.8.1
    ports:
      - 9999:8080