TYPEORM_CONNECTION = mysql
TYPEORM_HOST = mariadb
TYPEORM_PORT = 3306
TYPEORM_USERNAME = root
TYPEORM_PASSWORD = stronger_password
TYPEORM_DATABASE = flights
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = false
TYPEORM_ENTITIES = entities/**/*.js
TYPEORM_ENTITIES_DIR = entities
GOOGLE_APPLICATION_CREDENTIALS= "auth/service-account.json"