version: '3.4'

services:
  mariadb:
    image: mariadb:10.5.12
    env_file:
      - .env
    ports:
      - 3307:3306
    volumes:
      - database:/var/lib/mysql
      
  adminer:
    image: adminer:4.8.1
    ports:
      - 9999:8080

  api:  
      image: vliegtuigreservatiebackend
      build:
        context: .
        dockerfile: Dockerfile
      ports:
        - 3002:3001
      env_file:
        - docker.ormconfig.env
      environment:
        NODE_ENV: Production
  
volumes:
  database:
